/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 17 déc. 2024, 16:30:50
    Author     : lgerard
*/
html, body{
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
    
}

body{
    font-family: cooper black;
    height: 100%;
    margin: 0;
    background-image: url('fond.jpg');
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.fondPage{
    
}
#motPersonnage{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#motPerso{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
}
.contient{
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.7);
    max-width: 500px;
    margin: 100px auto;
    border-radius: 15px;
    box-shadow: 0 0 15px;
}
.contientPerso{
   margin: 20px;
   padding: 20px;
   background: rgba(255,255,255,0.2);
   border-radius: 10px;
}
.boutonPlay{
    width: 7%;
    padding: 10px 10px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 25px;
    
}
h1{
    font-size: 2em;
    margin-bottom: 20px;
}
#nomPerso{
    font-size: 1.5em;
    
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#nbTour{
    
    margin-top: 20px;
    font-size: 1.5em;
}

